:root {
    --padrao: #FFDC94;
    --escrita: #402F0E;
    --fundo: #faebd7;
    --titulo: #EFAF2E;
    --fundocriacao: #2a2a4b;
}

#pagLogin {
    background-image: url(assets/World_Amphoreus.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginJogo {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--fundo);
    gap: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid var(--padrao);
    border-radius: 10px;
}

.botao {
    border: solid 2px var(--padrao);
    background-color: var(--padrao);
    border-radius: 10px;
}

#usuario {
    border: solid 2px var(--padrao);
    border-radius: 10px;
}

#senha {
    border: solid 2px var(--padrao);
    border-radius: 10px;
}

.label {
    color: var(--escrita);
}

nav {
    background-color: var(--fundo);
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--escrita);
    opacity: 90%;
}

.imagemNav {
    padding-top: 5px;
    height: 80px;
    width: auto;
}

#pagInicial {
    margin: 0;
    background-image: url(assets/amphoreus.avif);
    background-size: cover;
}

.campo {
    padding: 10px;
    background-color: var(--fundo);
    margin: 50px;
    border: solid 5px var(--padrao);
    border-radius: 10px;
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--titulo);
}

.texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--escrita);
}

#pagPersonagens {
    background-color: var(--fundocriacao);
}

.inline {
    display: inline-flex;
    gap: 30px;

}

.padtop {
    padding-top: 20px;
}

.herois {
    padding-left: 15px;
}

#historia{
    background-image: url(assets/criacao.webp);
}
